# 03. Project Details

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
import functions.fn_stats as fn_stats
import params.consts as consts

### Lendo o dataset

In [2]:
df = pd.read_csv(consts.DATASET_RAW) # Armazenando o dataset em uma variável

C:\Users\mathe\AppData\Local\Temp\ipykernel_40324\3340244681.py:1: DtypeWarning: Columns (27,61,62,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(consts.DATASET_RAW) # Armazenando o dataset em uma variável

In [3]:
display(df.head(3)) # Exibindo as 3 primeiras linhas do dataset

display(df.tail(3)) # Exibindo as 3 últimas linhas do dataset

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,number_of_reviews_ltm,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,14063,https://www.airbnb.com/rooms/14063,20180414160018,2018-04-14,Living in a Postcard,"Besides the most iconic's view, our apartment ...",NaN,"Besides the most iconic's view, our apartment ...",none,Best and favorite neighborhood of Rio. Perfect...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17878,https://www.airbnb.com/rooms/17878,20180414160018,2018-04-14,Very Nice 2Br - Copacabana - WiFi,Please note that special rates apply for New Y...,- large balcony which looks out on pedestrian ...,Please note that special rates apply for New Y...,none,This is the best spot in Rio. Everything happe...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24480,https://www.airbnb.com/rooms/24480,20180414160018,2018-04-14,Nice and cozy near Ipanema Beach,My studio is located in the best of Ipanema. ...,The studio is located at Vinicius de Moraes St...,My studio is located in the best of Ipanema. ...,none,"The beach, the lagoon, Ipanema is a great loca...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,number_of_reviews_ltm,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
902207,38846703,https://www.airbnb.com/rooms/38846703,20190923212307,2019-09-24,Apt COMPLETO em COPACABANA c/TOTAL SEGURANÇA,Apartamento quarto e sala COMPLETO para curtas...,Espaço ideal para até 5 pessoas. Cama de casal...,Apartamento quarto e sala COMPLETO para curtas...,none,NaN,...,3.0,3.0,1125.0,1125.0,3.0,1125.0,0.0,23.0,6.0,0.0
902208,38847050,https://www.airbnb.com/rooms/38847050,20190923212307,2019-09-24,Cobertura Cinematografica,Cobertura alto nivel,NaN,Cobertura alto nivel,none,NaN,...,1.0,1.0,1125.0,1125.0,1.0,1125.0,0.0,1.0,0.0,0.0
902209,38847655,https://www.airbnb.com/rooms/38847655,20190923212307,2019-09-24,Quarto em cobertura em frente à praia III,Quarto em cobertura quadriplex com vista lindí...,NaN,Quarto em cobertura quadriplex com vista lindí...,none,NaN,...,1.0,1.0,30.0,30.0,1.0,30.0,0.0,0.0,4.0,0.0

### Visualizando a quantidade de linhas e colunas do dataset

In [4]:
df.shape # Visualizando a quantidade de linhas e colunas do dataset

(902210, 108)

### Visualizando os detalhes do dataset

In [5]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902210 entries, 0 to 902209
Columns: 108 entries, id to calculated_host_listings_count_shared_rooms
dtypes: float64(31), int64(15), object(62)
memory usage: 743.4+ MB

### Visualizando as estatísticas das colunas numéricas

In [6]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,jurisdiction_names,calculated_host_listings_count,reviews_per_month,ano,mes,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,number_of_reviews_ltm,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,902210.00,902210.00,0.00,0.00,0.00,902210.00,901750.00,901750.00,0.00,902210.00,902210.00,902210.00,900486.00,901360.00,899708.00,14048.00,902210.00,902210.00,902210.00,902210.00,902210.00,902210.00,902210.00,902210.00,454194.00,453624.00,453797.00,453560.00,453795.00,453657.00,453659.00,0.00,902210.00,477922.00,902210.00,902210.00,600999.00,600999.00,600999.00,600999.00,600999.00,600999.00,600999.00,600999.00,600999.00,600999.00
mean,16335994.95,20189294959368.14,NaN,NaN,NaN,65708105.84,8.53,8.53,NaN,-22.97,-43.25,4.21,1.69,1.64,2.60,515.00,1.68,4.55,41617.02,16.68,35.14,54.28,193.79,7.71,94.44,9.62,9.40,9.78,9.75,9.72,9.31,NaN,6.57,0.62,2018.86,6.32,4.60,5.08,16176.06,16180.88,4.72,16178.17,3.03,6.13,0.74,0.09
std,10649226.64,7000549923.73,NaN,NaN,NaN,67441621.45,46.99,46.99,NaN,0.03,0.10,2.61,1.20,1.08,2.07,943.18,1.53,20.84,7303340.33,13.06,25.93,38.68,153.03,21.79,9.54,0.93,1.12,0.76,0.80,0.77,1.04,NaN,25.30,0.86,0.72,3.40,20.76,21.45,3870402.77,3870402.75,20.91,3870402.76,7.50,26.56,1.78,0.77
min,14063.00,20180414160018.00,NaN,NaN,NaN,2616.00,0.00,0.00,NaN,-23.07,-43.74,1.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,20.00,2.00,2.00,2.00,2.00,2.00,2.00,NaN,1.00,0.00,2018.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00
25%,9503349.00,20181012035542.00,NaN,NaN,NaN,13884829.00,1.00,1.00,NaN,-22.98,-43.32,2.00,1.00,1.00,1.00,0.00,1.00,1.00,30.00,0.00,0.00,0.00,7.00,0.00,93.00,10.00,9.00,10.00,10.00,10.00,9.00,NaN,1.00,0.10,2018.00,4.00,1.00,1.00,30.00,30.00,1.00,30.00,0.00,1.00,0.00,0.00
50%,13979604.00,20190521191438.00,NaN,NaN,NaN,49895323.00,1.00,1.00,NaN,-22.97,-43.20,4.00,1.00,1.00,2.00,210.00,1.00,2.00,1125.00,23.00,49.00,77.00,180.00,1.00,98.00,10.00,10.00,10.00,10.00,10.00,10.00,NaN,1.00,0.27,2019.00,6.00,2.00,3.00,1125.00,1125.00,2.20,1125.00,0.00,1.00,0.00,0.00
75%,22698536.00,20191122092441.00,NaN,NaN,NaN,84900656.00,3.00,3.00,NaN,-22.95,-43.19,6.00,2.00,2.00,3.00,753.00,2.00,4.00,1125.00,29.00,59.00,89.00,362.00,4.00,100.00,10.00,10.00,10.00,10.00,10.00,10.00,NaN,3.00,0.82,2019.00,9.00,4.00,5.00,1125.00,1125.00,4.00,1125.00,2.00,2.00,1.00,0.00
max,43524785.00,20200524171540.00,NaN,NaN,NaN,346884508.00,1495.00,1495.00,NaN,-22.75,-43.10,160.00,200.00,45.00,86.00,10764.00,36.00,1224.00,2147483647.00,30.00,60.00,90.00,365.00,401.00,100.00,10.00,10.00,10.00,10.00,10.00,10.00,NaN,324.00,97.16,2020.00,12.00,1095.00,1095.00,999999999.00,999999999.00,1095.00,999999999.00,127.00,322.00,40.00,23.00

### Visualizando as estatísticas da colunas categóricas

In [7]:
df.describe(exclude='number') # Exibindo as estatísticas das colunas categóricas

,listing_url,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,...,calendar_last_scraped,first_review,last_review,requires_license,license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
count,902210,902210,900538,860406,543496,884040,902210,481672,284885,476428,...,902210,477922,477961,902210,43,902210,902210,902210,902210,902210
unique,70185,54,81218,76583,46381,87198,1,35964,22238,35327,...,54,2783,2023,1,5,2,1,6,2,2
top,https://www.airbnb.com/rooms/15058677,2018-07-14,Apartamento em Copacabana,.,"The apartment is amazing, spacious, quiet and ...","Meu espaço é bom para casais, aventuras indivi...",none,"Copacabana, a name synonym of paradise. The wa...",Intern Settlement : 1. The maximum number of t...,Sim,...,2018-07-14,2016-08-15,2018-02-14,f,+1512-6670366,f,f,flexible,f,f
freq,25,38875,1216,4874,319,352,902210,786,4523,565,...,38875,6513,10763,902210,25,556656,902210,386758,887509,886462

### Verificando as colunas com valores nulos

In [8]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

id                                                   0
listing_url                                          0
scrape_id                                            0
last_scraped                                         0
name                                              1672
                                                 ...
maximum_nights_avg_ntm                          301211
number_of_reviews_ltm                           301211
calculated_host_listings_count_entire_homes     301211
calculated_host_listings_count_private_rooms    301211
calculated_host_listings_count_shared_rooms     301211
Length: 108, dtype: int64

### Gerando um preview do dataset para um análise rápida

In [10]:
df.head(100).to_csv(consts.DATASET_PREVIEW) # Criando um arquivo em csv com as 100 primeiras linhas

### Conclusões obtidas e as próximas ações para tratar o dataset

- **Colunas que devem ter o tipo de dados corrigido** 
    1. Dt_Customer
- **Colunas que devem ter valores nulos/vazios tratados** 
    1. Income
- **Colunas que devem ser convertidas de data para tempo/idade** 
    1. Dt_Cusomer => Days_Since_Enrolled
    2. Dt_Cusomer => Years_Since_Enrolled
    3. Year_Birth => Age
- **Colunas que devem ter categorias mescladas** 
    1. AgeGroup
    2. Marital_Status
- **Colunas que devem ser unificadas**
    1. Children => Kidhome e Teenhome
    2. MntTotal => MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts e MntGoldProds
    3. AcceptedCmpTotal => AcceptedCmp1, AcceptedCmp2, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5
    4. NumTotalPurchases => NumWebPurchases, NumCatalogPurchases, NumStorePurchases
- **Colunas que devem ser derivadas de outras**
    1. HasChildren => Children
    2. MntRegularProd => MntTotal e MntGoldProds
    3. HasAcceptedCmp => AcceptedCmpTotal
- **Colunas que devem ter valores outliers tratados** 
    1. Age
    2. Income
    3. MntTotal
- **Colunas que devem ser excluídas por valores únicos** 
    1. ID
- **Colunas que devem ser excluídas por valores constantes** 
    1. Z_CostContact
    2. Z_Revenue
- **Colunas que devem ser excluídas após serem utilizadas como apoio** 
    1. Dt_Cusomer
    2. Year_Birth
    3. Kidhome
    4. Teenhome
    5. MntWines
    6. MntFruits
    7. MntMeatProducts
    8. MntFishProducts
    9. MntSweetProducts
    10. AcceptedCmp1
    11. AcceptedCmp2
    12. AcceptedCmp3
    13. AcceptedCmp4
    14. AcceptedCmp5
    15. NumWebPurchases
    16. NumCatalogPurchases
    17. NumStorePurchases