# 04. Data Processing

### Importando as bibliotecas

In [1]:
import sys
import warnings
sys.path.append('..')
import pandas as pd
import functions.fn_stats as fn_stats
import functions.fn_charts as fn_charts
import params.consts as consts

### Ignorando os warnings irrelevantes

In [2]:
warnings.filterwarnings('ignore', category=pd.errors.SettingWithCopyWarning) # Ignorando os warnings do tipo SettingWithCopyWarning

### Armazenando o dataset em uma variável

In [4]:
df = pd.read_csv(consts.DATASET_RAW, low_memory=False) # Armazenando o dataset em uma variável

### Excluindo as colunas que contém valores únicos

In [5]:
df = df.drop([
    'id',
    'listing_url',
    'scrape_id',
    'picture_url',
    'host_id',
    'host_url',
    'host_name',
    'host_thumbnail_url',
    'host_picture_url',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas com valores constantes

### Excluindo as colunas que contém valores constantes

In [6]:
df = df.drop([
    'experiences_offered',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas com valores constantes

### Excluindo as colunas que contém valores vazios

In [7]:
df = df.drop([
    'thumbnail_url',
    'medium_url',
    'xl_picture_url',
    'minimum_minimum_nights',
    'maximum_minimum_nights',
    'minimum_maximum_nights',
    'maximum_maximum_nights',
    'minimum_nights_avg_ntm',
    'maximum_nights_avg_ntm',
    'number_of_reviews_ltm',
    'calculated_host_listings_count_entire_homes',
    'calculated_host_listings_count_private_rooms',
    'calculated_host_listings_count_shared_rooms',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas com valores constantes

### Excluindo as colunas que contém muitos valores vazios

In [8]:
df = df.drop([
    'square_feet',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas com valores constantes

### Excluindo as colunas que contém informações redundantes

In [9]:
df = df.drop([
    'last_scraped',
    'host_total_listings_count',
    'street',
    'neighbourhood',
    'neighbourhood_cleansed',
    'neighbourhood_group_cleansed',
    'city',
    'state',
    'zipcode',
    'market',
    'smart_location',
    'country_code',
    'country',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas com valores constantes

### Excluindo as colunas que contém informações irrelevantes

In [10]:
df = df.drop([
    'host_since',
    'host_location',
    'host_acceptance_rate',
    'host_neighbourhood',
    'host_verifications',
    'host_has_profile_pic',
    'host_identity_verified',
    'is_location_exact',
    'weekly_price',
    'monthly_price',
    'calendar_updated',
    'has_availability',
    'availability_30',
    'availability_60',
    'availability_90',
    'availability_365',
    'calendar_last_scraped',
    'first_review',
    'last_review',
    'requires_license',
    'license',
    'jurisdiction_names',
    'require_guest_profile_picture',
    'require_guest_phone_verification',
    'calculated_host_listings_count',
    'reviews_per_month',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas com valores constantes

### Excluindo as colunas que contém textos livres

In [11]:
df = df.drop([
    'name',
    'summary',
    'space',
    'description',
    'neighborhood_overview',
    'notes',
    'transit',
    'access',
    'interaction',
    'house_rules',
    'host_about',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas com valores constantes

### Lendo o dataset tratado e visualizando o overview atual

In [12]:
df # Exibindo o dataset

,host_response_time,host_response_rate,host_is_superhost,host_listings_count,latitude,longitude,property_type,room_type,accommodates,bathrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,ano,mes
0,NaN,NaN,f,1.0,-22.946854,-43.182737,Apartment,Entire home/apt,4,1.0,...,9.0,9.0,9.0,9.0,9.0,f,f,strict_14_with_grace_period,2018,4
1,within an hour,100%,t,2.0,-22.965919,-43.178962,Condominium,Entire home/apt,5,1.0,...,9.0,10.0,10.0,9.0,9.0,t,f,strict,2018,4
2,within an hour,100%,f,1.0,-22.985698,-43.201935,Apartment,Entire home/apt,2,1.0,...,10.0,10.0,10.0,10.0,9.0,f,f,strict,2018,4
3,within an hour,100%,f,3.0,-22.977117,-43.190454,Apartment,Entire home/apt,3,1.0,...,10.0,10.0,10.0,10.0,9.0,f,f,strict,2018,4
4,within an hour,100%,t,1.0,-22.983024,-43.214270,Apartment,Entire home/apt,3,1.0,...,10.0,10.0,10.0,10.0,9.0,t,f,strict,2018,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902205,within an hour,93%,f,0.0,-23.003180,-43.342840,Apartment,Entire home/apt,4,1.0,...,NaN,NaN,NaN,NaN,NaN,f,f,flexible,2019,9
902206,NaN,NaN,f,0.0,-22.966640,-43.393450,Apartment,Entire home/apt,4,2.0,...,NaN,NaN,NaN,NaN,NaN,f,f,flexible,2019,9
902207,within a few hours,74%,f,32.0,-22.962080,-43.175520,Apartment,Entire home/apt,5,1.0,...,NaN,NaN,NaN,NaN,NaN,f,f,strict_14_with_grace_period,2019,9
902208,NaN,NaN,f,0.0,-23.003400,-43.341820,Apartment,Entire home/apt,4,1.0,...,NaN,NaN,NaN,NaN,NaN,f,f,strict_14_with_grace_period,2019,9
902209,a few days or more,38%,f,5.0,-23.010560,-43.363350,Apartment,Private room,2,0.0,...,NaN,NaN,NaN,NaN,NaN,f,f,strict_14_with_grace_period,2019,9

In [14]:
df.shape # Visualizando a quantidade de linhas e colunas do dataset

(902210, 34)

In [15]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902210 entries, 0 to 902209
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   host_response_time           500367 non-null  object
 1   host_response_rate           500364 non-null  object
 2   host_is_superhost            901750 non-null  object
 3   host_listings_count          901750 non-null  float64
 4   latitude                     902210 non-null  float64
 5   longitude                    902210 non-null  float64
 6   property_type                902210 non-null  object
 7   room_type                    902210 non-null  object
 8   accommodates                 902210 non-null  int64
 9   bathrooms                    900486 non-null  float64
 10  bedrooms                     901360 non-null  float64
 11  beds                         899708 non-null  float64
 12  bed_type                     902210 non-null  object
 13  amenities                    902210 non-null  object
 14  price                        902210 non-null  object
 15  security_deposit             480930 non-null  object
 16  cleaning_fee                 588704 non-null  object
 17  guests_included              902210 non-null  int64
 18  extra_people                 902210 non-null  object
 19  minimum_nights               902210 non-null  int64
 20  maximum_nights               902210 non-null  int64
 21  number_of_reviews            902210 non-null  int64
 22  review_scores_rating         454194 non-null  float64
 23  review_scores_accuracy       453624 non-null  float64
 24  review_scores_cleanliness    453797 non-null  float64
 25  review_scores_checkin        453560 non-null  float64
 26  review_scores_communication  453795 non-null  float64
 27  review_scores_location       453657 non-null  float64
 28  review_scores_value          453659 non-null  float64
 29  instant_bookable             902210 non-null  object
 30  is_business_travel_ready     902210 non-null  object
 31  cancellation_policy          902210 non-null  object
 32  ano                          902210 non-null  int64
 33  mes                          902210 non-null  int64
dtypes: float64(13), int64(7), object(14)
memory usage: 234.0+ MB

In [16]:
fn_stats.describe(df) # Usando a função que exibe as estatísticas das colunas numéricas

,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,guests_included,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,ano,mes
count,901750.00,902210.00,902210.00,902210.00,900486.00,901360.00,899708.00,902210.00,902210.00,902210.00,902210.00,454194.00,453624.00,453797.00,453560.00,453795.00,453657.00,453659.00,902210.00,902210.00
mean,8.53,-22.97,-43.25,4.21,1.69,1.64,2.60,1.68,4.55,41617.02,7.71,94.44,9.62,9.40,9.78,9.75,9.72,9.31,2018.86,6.32
std,46.99,0.03,0.10,2.61,1.20,1.08,2.07,1.53,20.84,7303340.33,21.79,9.54,0.93,1.12,0.76,0.80,0.77,1.04,0.72,3.40
min,0.00,-23.07,-43.74,1.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,20.00,2.00,2.00,2.00,2.00,2.00,2.00,2018.00,1.00
25%,1.00,-22.98,-43.32,2.00,1.00,1.00,1.00,1.00,1.00,30.00,0.00,93.00,10.00,9.00,10.00,10.00,10.00,9.00,2018.00,4.00
50%,1.00,-22.97,-43.20,4.00,1.00,1.00,2.00,1.00,2.00,1125.00,1.00,98.00,10.00,10.00,10.00,10.00,10.00,10.00,2019.00,6.00
75%,3.00,-22.95,-43.19,6.00,2.00,2.00,3.00,2.00,4.00,1125.00,4.00,100.00,10.00,10.00,10.00,10.00,10.00,10.00,2019.00,9.00
max,1495.00,-22.75,-43.10,160.00,200.00,45.00,86.00,36.00,1224.00,2147483647.00,401.00,100.00,10.00,10.00,10.00,10.00,10.00,10.00,2020.00,12.00

In [17]:
df.describe(exclude='number') # Exibindo as estatísticas das colunas categóricas

,host_response_time,host_response_rate,host_is_superhost,property_type,room_type,bed_type,amenities,price,security_deposit,cleaning_fee,extra_people,instant_bookable,is_business_travel_ready,cancellation_policy
count,500367,500364,901750,902210,902210,902210,902210,902210,480930,588704,902210,902210,902210,902210
unique,4,98,2,50,4,5,111806,6453,4126,1519,1015,2,1,6
top,within an hour,100%,f,Apartment,Entire home/apt,Real Bed,{},$151.00,$0.00,$150.00,$0.00,f,f,flexible
freq,209720,297308,805893,698077,638366,888046,10670,12491,163184,109757,559239,556656,902210,386758

In [18]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

host_response_time             401843
host_response_rate             401846
host_is_superhost                 460
host_listings_count               460
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bathrooms                        1724
bedrooms                          850
beds                             2502
bed_type                            0
amenities                           0
price                               0
security_deposit               421280
cleaning_fee                   313506
guests_included                     0
extra_people                        0
minimum_nights                      0
maximum_nights                      0
number_of_reviews                   0
review_scores_rating           448016
review_scores_accuracy         448586
review_scores_cleanliness      448413
review_scores_checkin          448650
review_scores_communication    448415
review_scores_location         448553
review_scores_value            448551
instant_bookable                    0
is_business_travel_ready            0
cancellation_policy                 0
ano                                 0
mes                                 0
dtype: int64

### Corrigindo os tipos de dados das colunas

In [10]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%Y-%m-%d') # Convertendo a coluna para o formato de data

### Tratando as colunas com valores nulos/vazios

In [11]:
df = df.dropna(subset=['Income']) # Removendo as linhas com valores nulos da coluna

### Criando colunas de tempo/idade

In [12]:
df['Days_Since_Enrolled'] = df['Dt_Customer'].max() - df['Dt_Customer'] # Criando a coluna com a diferença do valor máximo das datas e a data de cadastro do cliente
df['Days_Since_Enrolled'] = df['Days_Since_Enrolled'].dt.days # Convertendo o tempo para dias
df['Years_Since_Enrolled'] = df['Days_Since_Enrolled'] // 365 # Criando a coluna apenas com anos inteiros (dividindo com 2 barras)
df['Age'] = df['Dt_Customer'].max().year - df['Year_Birth'] # Criando a coluna com a idade dos clientes, fixando o valor máximmo das datas da campanha para que as idades não fiquem variando de acordo com o tempo que o código é rodado

### Mesclando colunas com muitas categorias

In [13]:
df['AgeGroup'] = pd.cut( # Criando essa coluna para agrupar as idades em intervalos padrões de cerca de 15 anos
    df['Age'], # Definindo a coluna que será usada para criar os intervalos
    bins=[18, 30, 45, 60, df['Age'].max()], # Definindo os intervalos
    labels=['18-30', '31-45', '46-60', '61+'], # Definindo os rótulos de como os dados vão aparecer no dataset
    include_lowest=True # Incluindo o valor inicial no intervalo
)
df['Marital_Status'] = df['Marital_Status'].replace( # Agrupando melhor os dados dessa coluna
    {
        'Alone': 'Single',
        'Absurd': 'Single',
        'YOLO': 'Single',
        'Together': 'Partner',
        'Married': 'Partner',
        'Widow': 'Single',
        'Single': 'Single',
        'Divorced': 'Single',
    }
)

In [ ]:
display(df['AgeGroup'].value_counts(normalize=True).map('{:.1%}'.format).sort_index()) # Verificando o resultado da transformação na coluna em %
display(df['Marital_Status'].value_counts(normalize=True).map('{:.1%}'.format).sort_index()) # Verificando o resultado da transformação na coluna em %

### Unificando colunas semelhantes

In [15]:
df['Children'] = df['Kidhome'] + df['Teenhome'] # Criando a coluna com o total de dependentes do cliente
df['MntTotal'] = ( # Criando a coluna com o total gasto em todas as categorias de produtos
    df['MntWines'] + 
    df['MntFruits'] + 
    df['MntMeatProducts'] + 
    df['MntFishProducts'] + 
    df['MntSweetProducts'] + 
    df['MntGoldProds']
)
df['AcceptedCmpTotal'] = ( # Criando a coluna com o total de campanhas aceitas pelo cliente
    df['AcceptedCmp1'] + 
    df['AcceptedCmp2'] + 
    df['AcceptedCmp3'] + 
    df['AcceptedCmp4'] + 
    df['AcceptedCmp5'] 
)
df['NumTotalPurchases'] = ( # Criando a coluna com o total de compras feitas pelo cliente
    df['NumWebPurchases'] + 
    df['NumCatalogPurchases'] + 
    df['NumStorePurchases'] 
)

In [ ]:
display(df['Children'].value_counts(normalize=True).map('{:.1%}'.format).sort_index()) # Verificando o resultado da transformação na coluna em %
display(df['AcceptedCmpTotal'].value_counts(normalize=True).map('{:.1%}'.format).sort_index()) # Verificando o resultado da transformação na coluna em %

### Criando colunas derivadas de outras

In [17]:
df['HasChildren'] = df['Children'].apply(lambda x: 1 if x > 0 else 0) # Criando a coluna que verifica se o cliente tem dependentes através de uma função anônima (na própria linha de código)
df['MntRegularProds'] = df['MntTotal'] - df['MntGoldProds'] # Criando a coluna com o valor gasto somente em produtos regulares
df['HasAcceptedCmp'] = df['AcceptedCmpTotal'].apply(lambda x: 1 if x > 0 else 0) # Criando a coluna que verifica se o cliente já aceitou uma campanha através de uma função anônima (na própria linha de código)

### Visualizando o dataset antes de tratar outliers e excluir colunas

In [ ]:
df.head(3) # Exibindo as 3 primeiras linhas do dataset

### Tratando as colunas com valores outliers

In [ ]:
fn_charts.boxplots(df,  ['Age', 'Income', 'MntTotal']) # Exibindo os gráficos de boxplots antes do tratamento

In [ ]:
fn_stats.inspect_outliers(df, 'Age') # Usando a função para listar os outliers

In [ ]:
fn_stats.inspect_outliers(df, 'Income') # Usando a função para listar os outliers

In [22]:
df = df.drop(fn_stats.inspect_outliers(df,'Age').index) # Removendo os outliers 
df = df.drop(fn_stats.inspect_outliers(df,'Income').index) # Removendo os outliers

In [ ]:
fn_charts.boxplots(df,  ['Age', 'Income', 'MntTotal']) # Exibindo os gráficos de boxplots antes do tratamento

### Salvando o dataset processado

In [26]:
df.to_csv(consts.DATASET_PROCESSED, index=False) # Salvando o dataset processado

### Excluindo as colunas auxiliares

In [27]:
df = df.drop( # Excluindo as colunas auxiliares
    [ 
        'Dt_Customer', 
        'Year_Birth', 
        'Kidhome',
        'Teenhome',
        'MntWines', 
        'MntFruits', 
        'MntMeatProducts', 
        'MntFishProducts', 
        'MntSweetProducts',
        'AcceptedCmp1',
        'AcceptedCmp2',
        'AcceptedCmp3',
        'AcceptedCmp4',
        'AcceptedCmp5', 
        'NumWebPurchases', 
        'NumCatalogPurchases', 
        'NumStorePurchases', 
    ], 
    axis=1 # Definindo que colunas serão excluídas
)

### Ordenando as colunas relacionadas

In [28]:
df = df.reindex(columns=[ # Ordenando as colunas em uma ordem que faz mais sentido para análises
        'Education', 
        'Marital_Status', 
        'Children',
        'HasChildren',
        'Age',
        'AgeGroup',
        'Income',
        'Recency',
        'Complain',
        'Days_Since_Enrolled',
        'Years_Since_Enrolled',
        'NumDealsPurchases',
        'NumWebVisitsMonth',
        'NumTotalPurchases',
        'MntRegularProds',
        'MntGoldProds',
        'MntTotal',
        'AcceptedCmpTotal',
        'HasAcceptedCmp',
        'Response',
    ]
)

### Salvando o dataset lean

In [29]:
df.to_csv(consts.DATASET_LEAN, index=False) # Salvando o dataset lean